rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
         match /songs/{songId} {
          	allow write, read: if request.auth.uid != null;
            
     	} 
          
    }
}